<main class="container-fluid d-lg-flex g-0">
  <section class="container-fluid d-lg-flex flex-lg-column p-5 h-100">
    <div
      class="container-fluid d-lg-flex flex-lg-row justify-content-center align-items-center"
    >
      <div class="d-flex justify-content-center align-items-center">
        <label class="fs-1 fst-italic text-decoration-underline"
          >Contate-nos</label
        >
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <img
          class="img-fluid"
          src="assets/images/Contato.svg"
          alt="Contato"
          width="160"
          height="160"
        />
      </div>
    </div>
    <div
      class="container-fluid d-lg-flex flex-fill flex-lg-row justify-content-center align-items-center p-2 bg-secondary2"
    >
      <div
        class="d-flex flex-column flex-fill justify-content-center align-items-center p-2 h-100"
      >
        <img
          class="img-fluid"
          src="assets/images/E-Mail.svg"
          alt="E-Mail"
          width="80"
          height="80"
        />
        <h6 for="email">E-Mail</h6>
        <h6>exemplo@hotmail.com</h6>
      </div>
      <div
        class="d-flex flex-column flex-fill justify-content-center align-items-center p-2 h-100"
      >
        <img
          class="img-fluid"
          src="assets/images/Telefone.svg"
          alt="Telefone"
          width="80"
          height="80"
        />
        <h6 for="email">Telefone</h6>
        <h6>(67) 99999-9999</h6>
      </div>
    </div>
  </section>
</main>
