main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 0px;
  border: 0px;
  height: calc(100vh - 5rem);
  width: auto;
  gap: 5rem;
}

label.title {
  font-size: 2.5rem;
  font-style: italic;
  text-decoration: underline;
}

input {
  border: 0px;
  border-radius: 10px;
  width: 100rem;
  height: 3.5rem;
  background-color: #29353c;
  font-size: 2rem;
  color: white;
}

::placeholder {
  color: white;
  font-style: italic;
  font-size: 2rem;
}

img.icon {
  width: 10rem;
  height: 10rem;
}

div.card {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  width: 100rem;
  height: 30rem;
  background-color: #aac7d8;
}

img.icon2 {
  width: 5rem;
  height: 5rem;
}

div.type {
  height: auto;
  width: 15rem;
  background-color: #aac7d8;
}

div.type * {
  font-weight: bold;
  font-style: italic;
  background-color: #aac7d8;
}
