<div class="row mb-2">
  <h3 class="d-flex justify-content-center">Alterar Senha</h3>
</div>

<div class="row mb-2">
  <div class="col col-4 mx-auto">
    <span>Senha antiga</span>
    <input class="form-control" type="password">
  </div>
</div>

<div class="row mb-2">
  <div class="col col-4 mx-auto">
    <span>Senha nova</span>
    <input class="form-control" type="password">
  </div>
</div>

<div class="row mb-2">
  <div class="col col-4 mx-auto">
    <span>Confirmar senha nova</span>
    <input class="form-control" type="password">
  </div>
</div>

<div class="row mb-2">
  <div class="col col-12 d-flex justify-content-center">
    <button class="btn btn-success">Salvar</button>
  </div>
</div>