<main class="container-fluid row justify-content-center g-0 p-lg-5 p-3 bg-secondary2">
  <section class="container-fluid row justify-content-center">
    <div
      class="row flex-lg-row flex-column flex-nowrap justify-content-center align-content-center align-items-center fs-2 gap-2 p-lg-2"
    >
      <div class="col col-lg-3 text-center">
        <div class="col col-lg-12">
          <img
            class="img-fluid"
            src="assets/images/Perfil.svg"
            alt="Imagem Perfil"
            width="200"
            height="200"
          />
        </div>
        <div class="col col-lg-12">
          <a class="link-dark link-underline-dark" routerLink="informacoes"
            >Informações</a
          >
        </div>
        <div class="col col-lg-12">
          <a
            class="link-dark link-underline-dark"
            routerLink="alterar-informacoes"
            >Alterar Informações</a
          >
        </div>
        <div class="col col-lg-12">
          <a class="link-dark link-underline-dark" routerLink="mudar-senha"
            >Trocar senha</a
          >
        </div>
        <div class="col col-lg-12">
          <a class="link-dark link-underline-dark">Deletar conta</a>
        </div>
        <div class="col col-lg-12">
          <a
            class="link-dark link-underline-dark"
            (click)="userService.logOut()"
            >Sair</a
          >
        </div>
      </div>
      <div class="col col-lg-9 text-start">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</main>
