<nav class="navbar">
  <div class="lado-esquerdo">

    <div class="icon icon-border icon-hover">
      <img src="assets/images/N-1.png" alt="N-1" />
    </div>

    <div class="icon icon-hover">
      <a routerLink="home"
        >Home
        <img src="assets/images/Home.png" alt="Home" />
      </a>
    </div>

    <div class="icon icon-hover">
      <a routerLink="pesquisar"
        >Pesquisar <img src="assets/images/Lupa.png" alt="Lupa" />
      </a>
    </div>

    <div class="icon icon-hover">
      <a routerLink="contato"
        >Contato
        <img src="assets/images/Contato.png" alt="Contato" />
      </a>
    </div>

  </div>
</nav>
