<main>
  <div>
    <label class="title">Contate-nos</label>
    <img class="icon" src="assets/images/Contato.svg" alt="Contato" />
  </div>

  <div class="card">
    <div class="d-flex flex-column type">
      <img class="icon2" src="assets/images/E-Mail.svg" alt="E-Mail" />
      <label for="email">E-Mail</label>
      <label>exemplo@hotmail.com</label>
    </div>
    <div class="d-flex flex-column type">
      <img class="icon2" src="assets/images/Telefone.svg" alt="Telefone" />
      <label for="email">Telefone</label>
      <label>(67) 99999-9999</label>
    </div>
  </div>
</main>
