<main
  class="row flex-lg-row flex-column align-items-center text-center text-break fw-bold fs-2 g-0"
>
  <div class="col text-lg-start">
    <div class="row">
      <div class="col">
        <p>Nome: {{ user.name }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>E-mail: {{ user.email }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Data de Nascimento: {{ user.birthday }}</p>
      </div>
    </div>
  </div>
  <div class="col text-lg-start">
    <div class="row">
      <div class="col">
        <p>Endereço Principal: {{ user.firstAddress }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Endereço Secundário: {{ user.secondAddress }}</p>
      </div>
    </div>
  </div>
</main>
