<main>
  <section class="left-side">
    <div class="box p-4">
      <form class="form form-group" [formGroup]="cadastroForm" (ngSubmit)="createAccount()">
        <div>
          <h1>Cadastro</h1>
        </div>

        <div class="flex-column">
          <div>
            <label class="form-label" for="email">Nome</label>
            <img class="icon" src="../../../../assets/images/Perfil.svg" alt="Nome" />
          </div>
          <input class="form-control" id="nome" type="text" formControlName="nome" />
        </div>

        <div class="flex-column">
          <div>
            <label class="form-label" for="email">E-Mail</label>
            <img class="icon" src="../../../../assets/images/E-Mail.svg" alt="E-Mail" />
          </div>
          <input class="form-control" id="email" type="text" formControlName="email" />
        </div>

        <div class="flex-column">
          <div>
            <label class="form-label" for="senha">Senha</label>
            <img class="icon" src="../../../../assets/images/Cadeado.svg" alt="Senha" />
          </div>
          <div>
            <input class="form-control input-password" id="senha" [type]="showPassword ? 'text' : 'password'"
              formControlName="senha" />
            <a class="eye password" (click)="showOrHidePassword(1)">
              <img class="icon2" [src]="
                  showPassword
                    ? '../../../../assets/images/Olho-fechado.svg'
                    : '../../../../assets/images/Olho-aberto.svg'
                " [alt]="showPassword ? 'Olho fechado' : 'Olho aberto'" />
            </a>
          </div>
        </div>

        <div class="flex-column">
          <div>
            <label class="form-label" for="confirmaSenha">Confirmar senha</label>
            <img class="icon" src="../../../../assets/images/Chave.svg" alt="Confirmar senha" />
          </div>
          <div>
            <input class="form-control input-password" id="confirmaSenha"
              [type]="showPasswordConfirmation ? 'text' : 'password'" formControlName="confirmaSenha" />
            <a class="eye password" (click)="showOrHidePassword(2)">
              <img class="icon2" [src]="
                  showPasswordConfirmation
                    ? '../../../../assets/images/Olho-fechado.svg'
                    : '../../../../assets/images/Olho-aberto.svg'
                " [alt]="
                  showPasswordConfirmation ? 'Olho fechado' : 'Olho aberto'
                " />
            </a>
          </div>
        </div>

        <div>
          <button class="btn primary" type="submit">Criar nova conta</button>
        </div>

        <div class="link">
          <p>Já possui uma conta?</p>
          <a routerLink="/login">Clique para fazer login :)</a>
        </div>
      </form>
    </div>
  </section>

  <section class="right-side">
    <div class="box">
      <img class="logo" src="../../../../assets/images/N-1_Logo_Quadrado.svg" alt="N-1 Logo Quadrado" />
    </div>
  </section>
</main>
