<main class="container-fluid d-xxl-flex g-0">
  <section
    class="container-fluid d-flex p-5"
    style="background-color: var(--clr-primary)"
  >
    <div
      class="container-fluid d-flex justify-content-center align-items-center p-2 rounded"
      [formGroup]="registerForm"
      (ngSubmit)="createAccount()"
    >
      <form
        class="d-flex flex-column justify-content-center align-items-center gap-2"
      >
        <h1 class="text-center">Cadastro</h1>

        <div
          class="d-flex flex-column justify-content-center align-items-center w-100"
        >
          <label class="form-label" for="name"
            >Nome
            <img
              class="img-fluid"
              src="assets/images/Perfil.svg"
              alt="Nome"
              width="32"
              height="32"
          /></label>
          <input
            class="form-control"
            id="name"
            type="text"
            formControlName="name"
          />
        </div>

        <div
          class="d-flex flex-column justify-content-center align-items-center w-100"
        >
          <label class="form-label" for="email"
            >E-Mail
            <img
              class="img-fluid"
              src="assets/images/E-Mail.svg"
              alt="E-Mail"
              width="32"
              height="32"
          /></label>
          <input
            class="form-control"
            id="email"
            type="text"
            formControlName="email"
          />
        </div>

        <div
          class="d-flex flex-column justify-content-center align-items-center w-100"
        >
          <label class="form-label" for="password"
            >Senha
            <img
              class="img-fluid"
              src="assets/images/Cadeado.svg"
              alt="Senha"
              width="32"
              height="32"
          /></label>
          <div class="d-flex justify-content-center align-items-center w-100">
            <input
              class="form-control rounded-end-0"
              id="password"
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
            />
            <a role="button" (click)="showOrHidePassword(1)">
              <img
                class="rounded-end-2"
                [src]="
                  showPassword
                    ? 'assets/images/Olho-fechado.svg'
                    : 'assets/images/Olho-aberto.svg'
                "
                [alt]="showPassword ? 'Olho fechado' : 'Olho aberto'"
                width="36"
                height="36"
                style="background-color: var(--clr-secondary2)"
              />
            </a>
          </div>
        </div>

        <div
          class="d-flex flex-column justify-content-center align-items-center w-100"
        >
          <label class="form-label" for="passwordConfirmation"
            >Confirmar senha
            <img
              class="img-fluid"
              src="assets/images/Chave.svg"
              alt="Confirmar senha"
              width="32"
              height="32"
          /></label>
          <div class="d-flex justify-content-center align-items-center w-100">
            <input
              class="form-control rounded-end-0"
              id="passwordConfirmation"
              [type]="showPasswordConfirmation ? 'text' : 'password'"
              formControlName="passwordConfirmation"
            />
            <a role="button" (click)="showOrHidePassword(2)">
              <img
                class="rounded-end-2"
                [src]="
                  showPasswordConfirmation
                    ? 'assets/images/Olho-fechado.svg'
                    : 'assets/images/Olho-aberto.svg'
                "
                [alt]="
                  showPasswordConfirmation ? 'Olho fechado' : 'Olho aberto'
                "
                width="36"
                height="36"
                style="background-color: var(--clr-secondary2)"
              />
            </a>
          </div>
        </div>

        <div class="d-flex w-100">
          <button
            class="btn text-white w-100"
            type="submit"
            style="background-color: var(--clr-primary2)"
          >
            Criar nova conta
          </button>
        </div>

        <div class="d-flex gap-2">
          Já possui uma conta?
          <a class="link-dark link-underline-dark" routerLink="/login"
            >Clique para fazer login :)</a
          >
        </div>
      </form>
    </div>
  </section>

  <section
    class="container-fluid d-flex p-2"
    style="background-color: var(--clr-background)"
  >
    <div
      class="container-fluid d-flex justify-content-center align-items-center p-2 rounded"
    >
      <img
        class="img-fluid border border-black"
        src="assets/images/N-1_Logo_Quadrado.svg"
        alt="N-1 Logo Quadrado"
        width="720"
        height="720"
      />
    </div>
  </section>
</main>
