* {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

section {
  height: calc(100vh - 5rem);
  width: 50vw;
}

section.left-side {
  background-color: #e6e6e6;
}

section.right-side {
  background-color: #29353c;
}

img.logo {
  height: 45rem;
  border: 1px solid #000000;
}

div.box {
  height: var(--div-box-size);
  width: var(--div-box-size);
  border-radius: 10px;
}

form {
  flex-direction: column;
  gap: 1rem;
}

button.primary {
  width: 100%;
  color: #ffffff;
  background-color: #44576d;
  height: 2.5rem;
}

div {
  width: 100%;
  height: 100%;
}

input {
  height: 2.5rem;
  background-color: #768a96;
}

input.input-password {
  border-radius: 10px 0px 0px 10px;
}

.links {
  gap: 4rem;
}

.links > a {
  text-decoration: none;
  color: black;
  text-decoration-line: underline;
}

img.icon {
  width: 2rem;
  height: 2rem;
}

img.icon2 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0rem 0.375rem 0.375rem 0rem;
  background-color: #aac7d8;
}

a.eye {
  border-radius: 10px;
  cursor: pointer;
}
