<main>
  <section class="lado-esquerdo">
    <div class="container">
      <img
        class="logo"
        src="assets/images/N-1_Logo_Redondo.svg"
        alt="N-1 Logo"
      />
    </div>
  </section>

  <section class="lado-direito">
    <div class="container">
      <form
        class="form form-group"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
      >
        <div>
          <h1>Login</h1>
        </div>

        <div class="flex-column">
          <div>
            <label class="form-label" for="email">E-Mail</label>
            <img class="icone" src="assets/images/E-Mail.svg" alt="E-Mail" />
          </div>
          <input
            class="form-control"
            id="email"
            type="text"
            formControlName="email"
          />
        </div>

        <div class="flex-column">
          <div>
            <label class="form-label" for="senha">Senha</label>
            <img class="icone" src="assets/images/Cadeado.svg" alt="Senha" />
          </div>
          <input
            class="form-control"
            id="senha"
            type="text"
            formControlName="senha"
          />
        </div>

        <div class="links">
          <a routerLink="/recuperacao-senha">Esqueceu sua senha?</a>
          <a routerLink="/cadastro">Crie uma nova conta</a>
        </div>

        <div>
          <button class="btn primario" type="submit">Entrar</button>
        </div>
      </form>
    </div>
  </section>
</main>

<!-- <a routerLink="/home">
  <button class="btn btn-primary">Home</button>
</a> -->
