* {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

section.lado-esquerdo {
  background-color: #e6e6e6;
  height: 100vh;
  width: 50vw;
}

img {
  height: 45rem;
  width: 45rem;
  border: 1px solid #000000;
}

section.lado-direito {
  background-color: #29353c;
  height: 100vh;
  width: 50vw;
}

div.container {
  height: 55rem;
  width: 55rem;
  border-radius: 10px;
}

form {
  flex-direction: column;
}
