* {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 20%;
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  color: #ffff;
}

div.main {
  padding: 3rem;
  height: calc(100vh - 5rem);
}

div.shop-item {
  max-width: calc(100vw / 5 - 1.2rem);
  max-height: calc((100vh - 8rem) / 3);
}

div.box {
  display: flex;
  flex-direction: column;
  background-color: #44576d;
  margin: 1rem;
  border-radius: 10px;
  width: inherit;
}

div.top {
  flex: 1 0 35%;
  align-items: center;
  justify-content: center;
  background-color: #44576d;
}

div.middle {
  flex: 1 0 45%;
  justify-content: space-between;
  flex-direction: column;
  background-color: #768a96;
}

div.middle div.price {
  align-items: flex-end;
  justify-content: flex-end;
}

div.text {
  align-items: center;
  flex-direction: column;
  background-color: #768a96;
}

div.price {
  margin: 8px;
  align-items: flex-end;
  background-color: #768a96;
}

div.bottom {
  flex: 1 0 20%;
  background-color: #44576d;
}

div.top,
div.bottom {
  border-radius: 0.625rem;
}

img {
  flex: 0 !important;
  border-radius: 10px;
  background-color: transparent;
}

div.links {
  justify-content: center;
  align-items: center;
  background-color: #44576d;
  border-radius: 0.625rem;
  font-size: 0.7rem;
}

button.link {
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 0.625rem;
  background-color: #44576d;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
