<main class="main">
  <div class="shopItem" *ngFor="let shopItem of shopItems">
    <div class="shopItem__top">
      {{ shopItem.image }}
    </div>
    <div class="shopItem__middle">
      <div class="text">
        <div class="text">
          {{ shopItem.title }}
        </div>
        <div class="text">
          {{ shopItem.description }}
        </div>
      </div>
      <div class="price">Preço: R${{ shopItem.price }}</div>
    </div>
    <div class="shopItem__bottom">
      <div class="buttons">
        <button class="button">
          <img
            class="icon"
            src="../../../../assets/images/_.svg"
            alt="Interrogação"
          />
          Vizualização rápida
        </button>
        <button class="button">
          <img
            class="icon"
            src="../../../../assets/images/+.svg"
            alt="Adição"
          />
          Adicionar ao carrinho
        </button>
      </div>
    </div>
  </div>
</main>
