* {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: #000000;
  text-decoration-color: #000000;
  font-style: italic;
  background-color: #ffffff;
}

nav.navbar {
  height: 5rem;
}

div.icon img {
  height: 3.5rem;
  width: 3.5rem;
}

div.icon.icon-border img {
  border-radius: 10px;
  border: 1px solid #000000;
}

div.icon.icon-hover img:hover {
  background-color: none;
}

.left-side {
  padding: 0.5rem;
  gap: 1.5rem;
}

.right-side {
  padding: 0.5rem;
  gap: 5rem;
}

a {
  gap: 0.5rem;
}
