* {
  display: flex;
  align-items: center;
  justify-content: center;

  font-style: italic;
  text-decoration-color: black;

  color: black;
  background-color: white;
}

a {
  color: inherit;
}

.navbar {
  padding: 0.5rem;
}

.navbar-links {
  margin: 0;
  padding: 0;
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
}

.icon.icon-border {
  border-radius: 10px;
  border: 1px solid black;
}

.btn-login {
  width: 4rem;
  height: 2.5rem;

  color: white;
  background-color: var(--clr-primary2);
}

.btn-logout {
  width: 4rem;
  height: 2.5rem;

  color: white;
  background-color: var(--clr-error);
}
