/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap'); */

:root, html, body {
  /* 1920 x 969 */
  height: 100%;
  width: 100%;

  --navbar-size: 82px;
  --clr-primary: #29353c;
  --clr-primary2: #44576d;
  --clr-secondary: #768a96;
  --clr-secondary2: #aac7d8;
  --clr-background: #e6e6e6;
  --clr-background2: #dfebf6;
  --clr-error: #f82e2e;
}

main {
  height: calc(100vh - var(--navbar-size));
}

* {
  /* font-family: "IM Fell DW Pica"; */
  padding: 0;
  margin: 0;
  background-color: var(--clr-background);
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}
