/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&display=swap'); */

*,
*::before,
*::after {
  /* font-family: "IM Fell DW Pica", serif; */
  box-sizing: border-box;
  background-color: #e6e6e6;
}

.form-control:focus {
  border-color: none;
  box-shadow: none;
}
